/* General Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body { 
    background-image: url("/static/imgs/temple.png");
}

header {
    background-color: #061B60;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


header nav ul {
    list-style: none;
    display: flex;
}


header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.proceed-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button,.sign-up-button,.book-button,.manage-button,.support-button {
    padding: 10px 15px;
    background-color: #061B60;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover,.sign-up-button:hover,.book-button:hover,.manage-button:hover,.support-button:hover {
    background-color: #05123d;
}
.proceed-button:hover {
    background-color: #218838;
}

.results-section {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.flights-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flights-table th, .flights-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.flights-table th {
    background-color: #2e3b55;
    color: white;
    text-transform: uppercase;
}

.flights-table tr:hover {
    background-color: #f1f1f1;
}

.select-flight-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.select-flight-button:hover {
    background-color: #0056b3;
}

/* Selected flight button (greyed out) */
.select-flight-button.selected {
    background-color: #6c757d;
    cursor: not-allowed;
}
